# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python-specific
*.log
*.pot
*.pyc
*.pyo



# Output files
*.svg
*.png

# Installer logs
pip-log.txt
